<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.vvp.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>table</servlet-name>
        <servlet-class>com.vvp.web.table</servlet-class>
    </servlet>
    <servlet><servlet-name>Signup</servlet-name><servlet-class>com.vvp.web.Signup</servlet-class></servlet>
    <servlet>
        <servlet-name>visitor</servlet-name>
        <servlet-class>com.vvp.web.visitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>com.vvp.web.Product</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>table</servlet-name>
        <url-pattern>/table.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitor</servlet-name>
        <url-pattern>/visitor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
